@import url('https://fonts.googleapis.com/css?family=Oxygen');
@import url('https://fonts.googleapis.com/css?family=Vollkorn+SC');

$void: #0E0B16;
$fuschia: #A239CA;
$jewel: #4717F6;
$stark: #E7DFDD;
$vermillion: #fc4a1a;
$plum: #2E1733;



//MIXINS
@mixin button {
    box-sizing: border-box;
    display: block;
    text-align: center;
    text-decoration: none;
    width: 160px;
    color: $stark;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    font-size: 16px;
    padding: 12px;
    height: 40px;
    cursor: pointer;
}

@mixin button--hover {
    text-decoration: none;
    color: $stark;
}

@mixin header2 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 5%;
    margin-top: 2%;
}

@mixin section-size {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    padding-left: 3%;
    padding-right: 3%;
    width: 100%;
}

@mixin fontello {
    font-family: fontello;
    position: absolute;
    top: 11px;
    left: -30px;
    transition: all 200ms ease;
}


//KEYFRAMES

@keyframes visibiling {
    0% {
        opacity: 1;
        -webkit-filter: alpha(opacity=0);
        filter: alpha(opacity=0);
    }
    50% {
        opacity: 1;
        -webkit-filter: alpha(opacity=50);
        filter: alpha(opacity=50);
    }
    100% {
        opacity: 0;
        -webkit-filter: alpha(opacity=100);
        filter: alpha(opacity=100);
    }
}

@-webkit-keyframes visibiling {
    0% {
        opacity: 1;
        -webkit-filter: alpha(opacity=0);
        filter: alpha(opacity=0);
    }
    50% {
        opacity: 1;
        -webkit-filter: alpha(opacity=50);
        filter: alpha(opacity=50);
    }
    100% {
        opacity: 0;
        -webkit-filter: alpha(opacity=100);
        filter: alpha(opacity=100);
    }
}

@media (max-width: 575px) {

    //HEADER
    .header {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 0;
        margin-bottom: 5%;
        &__logo {
            flex-grow: 1;
        }
        &__name {
            width: 100%;
            flex-grow: 2;
            font-size: 170%;
        }
        &__icons {
            align-self: flex-end;
            flex-grow: 1;
        }
    }


    .grid {
        flex-direction: column;
    }



    //NAVIGATION

    .navbar {
        padding-left: 3%;
        padding-right: 3%;
        flex-direction: row;
        height: auto;
        &__item {
            margin-bottom: 3%;
        }
        &__icon {
            width: auto;
            border-right: none;
            margin-bottom: 0;
            padding: 0;
            &:hover {
                border-right: none;
            }
            &--size {
                padding-bottom: 10%;
            }
        }
        &__description {
            margin-left: 0;
            padding-left: 0;
        }
    }

    //SECTION: BUTTONS
    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 2%;
        &__button {
            margin: 1%;
            @include button;
            &:hover {
                &:before {
                    left: 3px;
                }
            }
        }
    }


    //SECTION: HEAD (WITH GAME)
    .head {
        @include section-size;
    }

    .game {
        width: 100%;
        align-items: center;
        flex-direction: column-reverse;
        &__column {
            justify-content: space-around;
        }
        &__card {
            margin: 2%;
            width: auto;
            height: auto;
            min-height: none;
            min-width: none;
        }
        &__counter {
            margin-bottom: 5%;
        }
    }



    //SECTION: INSTRUCTIONS
    .instructions {
        @include section-size;
        &__name {
            @include header2;
        }
        &__content {

        }
    }





    //SECTION: ABOUT

    .about {
        @include section-size;
        &__name {
            @include header2;
        }
    }

    .allabout {
        flex-direction: column;
        &__photo {
            content: url(../../images/about-photo-m-square.png);
            width: 90%;
            height: 90%;
            margin-left: 5%;
            margin-right: 5%;
            margin-bottom: 5%;
        }
        &__content {
            margin-left: 0;
        }
    }



    //SECTION: PROJECTS

    .my-projects {
        @include section-size;
        &__name {
            @include header2;
        }
    }


    //SECTION: SKILLS
    .skills {
        @include section-size;
        &__name {
            @include header2;
        }
        &__description {

        }
    }




    //SECTION: CONTACT
    .contact {
        @include section-size;
        &__name {
            @include header2;
        }
    }



    //FOOTER
    .footer {
        margin: 5%;
        padding-bottom: 3%;
        &__content {
            padding-right: 0;
            text-align: right;
        }
    }
}