@import url('https://fonts.googleapis.com/css?family=Oxygen');
@import url('https://fonts.googleapis.com/css?family=Lobster');

$void: #0E0B16;
$fuschia: #A239CA;
$jewel: #4717F6;
$stark: #E7DFDD;
$vermillion: #fc4a1a;


//MIXINS
@mixin button {
    box-sizing: border-box;
    display: block;
    text-align: center;
    text-decoration: none;
    width: 200px;
    color: $stark;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    font-size: 16px;
    padding: 12px;
    height: 40px;
    cursor: pointer;
}

@mixin button--hover {
    text-decoration: none;
    color: $stark;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: $void;
    font-family: 'Oxygen', Arial, Helvetica, sans-serif;
    color: $stark;
}

.topper {
    flex: 1 0 auto;
}

.grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main {
    padding-right: 30px;
    flex-grow: 9;
    max-width: 70%;
}


//VISIBLE NAVIGATION
.navigation-bar {
    flex-grow: 3;
    &__scroll {

    }
}

.navbar {
    box-sizing: border-box;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: space-between;
    &__item {
        &:hover {
            @include button--hover();
        }
    }
    &__link {
        @include button--hover();
    }
    &__icon {
        border-right: 2px solid $fuschia;
        padding: 30px 20px; 
        margin-bottom: -50px;
        width: 50px;
        &:hover {
            border-right: 2px solid $jewel;
        }
        &--size {
            &:before {
                font-size: 250%;
                display: block;  
            }
        }
    }
    &__description {
        display: block;
        //visibility: hidden;
        margin-left: 100px;
        padding-left: 20px;
    }
}


//DROPDOWN VISIBLE
.visibleDropdown {
    display: none;
}

.menuIcon {
    display: none;
}

.cancelIcon {
    display: none;
}

//DROPDOWN MENU
.dropdown-area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    background-color: $fuschia;
    &__button {
        background-color: $void;
        @include button--hover();
        &:hover {
            @include button--hover;
        }
    }
    &__how2play-button {
        background-color: $void;
        @include button;
        &:hover {
            @include button--hover;
            background-color: $fuschia;
        }
    }
}

.dropdown {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__listitem {
        @include button;
        &:hover {
           @include button--hover; 
        }
    }
    &__icon {

    }
    &__description {

    }
}



//HEADER
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
    &__logo {
        flex-grow: 2;
        margin: 10px;
    }
    &__name {
        font-size: 200%;
        flex-grow: 6;
        word-break: keep-all;
        white-space: nowrap;
        font-family: 'Lobster', cursive;
        margin: 10px;
    }
    &__icon {
        color: $stark;
        flex-grow: 4;
        &--size:before {
            font-size: 250%;
        }
    }
}

.line {
     margin-top: 0;
     height: 12px;
     border: 0;
     -moz-box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
     -webkit-box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
     box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}




//SECTION: HEAD (WITH GAME)
.head {
    display: flex;
    flex-direction: column;
    flex-basis: 90%;
    justify-content: space-between;
    &__how2play-button {
        align-self: flex-end;
        background-color: $fuschia;
        @include button;
        &:hover {
            @include button--hover;
            background-color: $jewel;
        }
    }
}

.game {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
    &__card {
        font-size: 300%;
        border: 3px solid $vermillion;
        border-radius: 5px;
        margin: 10px;
        width: 20%;
        min-height: 100px;
        max-width: 100px;
        cursor: pointer;
        filter: brightness(70%);
        transition: all .3s ease-in-out;
        &:hover {
            filter: brightness(100%);
        }
        &:before {
        }
    }
}

//GAMEBOARD
.hidden {
    display: none;
}

.secret {
    display: none;
}

.end {
    display: none;
}

.button {
    @include button;
    background-color: $vermillion;
}

//CARDS
.checked {
    color: $vermillion;
    background-color: $vermillion;
    border-color: $stark;
}

.passive {
    cursor: initial;
    background-color: gray;
    border-color: darkslategrey;
    &:hover {
        filter: brightness(70%);
    }
}



//SECTION: INSTRUCTIONS
.instructions-content {
    &__paragraph {

    }
}




//SECTION: ABOUT
.about-me {
    &__name {
        text-align: center;
    }
    &__photo {

        border: 1px solid black;
    }
    &__content {
    }
}



//SECTION: PROJECTS
.my-projects {
    &__name {
        text-align: center;
    }
}

.projects-list {
    list-style-type: none;
    &__item {

    }
    &__photo {

    }
    &__description {

    }
}



//SECTION: SKILLS
.skills {

    &__name {

        text-align: center;
    }
    &__description {

    }
}

.list-of-skills {

    list-style-type: none;
    &__item {
        display: block;
    }
    &__description {

    }
    &__icon {

    }
}



//SECTION: CONTACT
.contact-site {
    &__name {

    }
}

.contact-form {
    &__name {

    }
    &__mail {

    }
    &__message {

    }
    &__btn {

    }
}



//FOOTER
.footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 4%;
    &__content {
        padding-right: 10px;
        display: inline-flex;
        font-family: 'Lobster', cursive;

    }
}

.value {
    color: red;
}

//@import "media";